<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">

    <title>tøj.dk - About</title>
</head>
<body>
    <nav class="navigation-bar">
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="../contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/">Products</a>
        <a href="../"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
    </nav>
    <h2>about tøj</h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore accusantium temporibus mollitia ex, assumenda harum adipisci amet doloribus, debitis, inventore architecto? Quo, facere id eligendi quisquam obcaecati facilis neque praesentium?

</body>
</html>