<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/cart.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>
        Produkter - tøj.dk
    </title>
</head>
<body>
    <nav class="navigation-bar">
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/">Products</a>
        <a href="index.html"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
   </nav>
   <h3>Cart</h3>

</body>
</html>