<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Årets kontact</title>
</head>
<body>
    <nav class="navigation-bar">
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/">Products</a>
        <a href="/"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
    </nav>
    <h2>Contact</h2>
     <b>Address</b>  <br>

    A. C. Meyers Vænge 15<br>

    2450 København<br>

    Denmark
<br>
<br>

<a href="mailto:info@toj.dk">info@toj.dk</a> <br>
Phone +45 12345678
</body>
</html>