<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<!--  NAVIGATION BAR  -->
   <nav class="navigation-bar">
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/">Products</a>
        <a href="index.html"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
   </nav>

<!--  PRODUCTS  -->
<div class="row">
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_1.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_2.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_3.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_4.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_5.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_6.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_7.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_8.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <a href=""><img src="../images/Image_9.jpg" alt="Mountains" style="width:100%"></a>
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>


</body>
</html>
