<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>
        Produkter - tøj.dk
    </title>
</head>
<body>
    <nav class="navigation-bar">
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/">Products</a>
        <a href="index.html"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
   </nav>

<!--  PRODUCTS  -->
<div class="row">
    {{#each products}}
    <div class="column">
      <div class="content">
        <a href="product/{{_id}}"><img src="{{img}}" alt="Mountains" style="width:100%"></a>
        <h4>{{item}}</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    {{/each}}
</div>


</body>
</html>
