<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">

    <title>
        {{product.item}} - tøj.dk
    </title>
</head>
<body>
    <nav class="navigation-bar">
        <a class="nav-link" href="../../">Products</a>
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="#">About</a>
        <a href="index.html"><img src="../images/main_logo.png" alt="main logo" class="logo"></a>
    </nav>
    <div id="products-wrapper">

<h3>
    {{product.item}}
</h3>
{{product.desc}}
</div>

</body>
</html>