@font-face{
    font-family: "PT-Sans";
    src: url("../fonts/pt-sans/PTC55F.ttf");
}


.logo{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    margin-right: 20px;

}

.navigation-bar > a.nav-link{
    
    font-family: 'PT-Sans';
    text-transform: uppercase;
    color: black;
    display: inline-block;
    vertical-align: top;
    padding: 20px 50px 0 50px;
    height: 80px;
    line-height: 80px;  
    float: right;
    text-decoration: none;
}

.navigation-bar > a:hover{
    text-decoration: underline;
}
