@font-face{
    font-family: "PT-Sans";
    src: url("../fonts/pt-sans/PTC55F.ttf");
}


.logo{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 120px;
    margin: 10px;

}

.navigation-bar > a.nav-link{
    
    font-family: 'PT-Sans';
    text-transform: uppercase;
    color: black;
    display: inline-block;
    vertical-align: top;
    padding: 20px 50px 0 50px;
    height: 80px;
    line-height: 80px;  
    float: right;
    text-decoration: none;
}

.navigation-bar > a:hover{
    text-decoration: underline;
}

#products-wrapper{
    height: auto;
    width: auto;
    
}

#products-wrapper .products-list a img{
    margin: 10% 5% 2% 2%;
    height: 25%;
    width: 25%;
}

#products-wrapper .products-list a img:hover{
    -webkit-filter: grayscale(100%) blur(2px);
}
